
name: CI/CD for Dockerized Flask App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
         username:${{ secrets.DOCKER_USERNAME }}
         password:${{ secrets.DOCKER_TOKEN }}

      - name: Debug secrets (safe)
        run: |
         if [ -z "${{ secrets.DOCKER_USERNAME }}" ]; then echo "USERNAME MISSING"; else echo "USERNAME OK"; fi
         if [ -z "${{ secrets.DOCKER_TOKEN }}" ]; then echo "TOKEN MISSING"; else echo "TOKEN OK"; fi
